<main class="container">
  <h1>Playing Memory with Flags</h1>

  <ul class="grid grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <%= render partial: "player", collection: @game.players %>
  </ul>

  <br/><br/>
</main>
